.triangle{
    position: absolute;
    width: 0;
	height: 0;
	border-left: 36vw solid transparent;
	border-right: 36vw solid transparent;
	border-bottom: 28vh solid #0D98BA;
    transform: translateX(0) translateY(42vh) rotateZ(180deg);
    z-index: -5;
    animation: triAnim 1s 3s ease-in-out forwards;
    opacity: 0;
}

.container{
    display: flex;
    justify-content: center;
    width: 100vw;
}

@keyframes triAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and (max-width: 600px){
    .triangle{
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-bottom: 28vh solid #0D98BA;
    }
}